@import "../global";

.top-header {
  position: absolute;
  width: 100%;
  color: #fff;
}

.top-header__nav {
  @include clearfix;
  padding: 20px 120px;

  @include mobile {
    padding: 10px 20px;
  }
}

.top-header__nav-list {
  list-style-type: none;
  font-size: 20px;
  float: right;
}

.top-header__nav-item {
  float: left;

  & + & {
    margin-left: 60px;
  }

  a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    @include transition;

    &:hover {
      opacity: 1;
    }
  }
}