.section--four {
  text-align: center;
  padding: 100px 0;
  color: #555;

  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
  }
}

.section--four-form {
  h2 {
    margin-top: 0; 
    font-size: 32px;

    @include mobile {
      margin-bottom: 10px;
    }
  } 

  .input {
    width: 360px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: bottom;

    @include mobile {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .separator {
    font-size: 24px;
    margin: 30px 0;
  }
}
