@import "../mixin";

.section-three {
  height: 820px;
  padding-top: 100px;
  background: #045D9B;
  color: #fff;
  font-size: 0;
}

.feature-list {
  padding-left: 0;
  list-style-type: none; 

  .feature {
    font-size: 18px;
    display: inline-block;
    width: 33.3%;
    text-align: center;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

    h2 {
      margin-bottom: 0;
    }

    .intro {
      width: 100%;
      background-color: #fff;
      height: 200px;
    }
  }
}